@charset "UTF-8";
@import '~antd/dist/antd.css';

.app .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, .2);
    margin: 16px 28px 16px 0;
    float: left;
}

.app .header-item{
    padding-left: 16px;
    padding-right: 16px;
    float: left;
}